<template>
    <div class="container my-5">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">My Todo List</h5>
                
                <div class="form-group">
                    <ul>
                        <li v-for="item in todos" class="py-1">
                            <!-- <input type="checkbox" :checked="" @change="toggle(todo)"> -->
                            <div class="d-flex justify-content-between align-item-center">
                                <div >
                                    <input type="checkbox" @change="toggle(item)" :checked="item.done">
                                    <span :class="{ done: item.done }" class='align-middle'>{{ item.text }}</span>
                                </div>
                                <button @click="deleteItem(item)" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="form-group">
                    <input class="form-control" @keyup.enter="addTodo" placeholder="What needs to be done?">
                </div>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>  -->
            </div>
        </div>
        <!-- <div class="form-group">

            <h2>My Todo List</h2>
        </div> -->



    </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
    // jadi computed ini kaya variable data biasa cuman bedsanya dia di compute dulu

    computed: {
        todos() {
            return this.$store.state.todo.list
        }
    },
    methods: {
        addTodo(e) {
            // console.log(e.target.value)
            this.$store.commit('todo/add', e.target.value)
            e.target.value = ''
        },
        ...mapMutations({
            toggle: 'todo/toggle',
            deleteItem: 'todo/remove',
        })
    },
    mounted() {
        // console.log(this.todos);
    },
    middleware: 'test'


};

</script>

<style scoped>
.done {
    text-decoration: line-through;
}
</style>